<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <resultMap id="UserMap" type="com.example.demo.object.User">
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="role" property="role" jdbcType="INTEGER"/>
        <result column="id" property="id" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="User_List">
        username,password,role,id
    </sql>
    <select id="selectByUsername" parameterType="int" resultType="com.example.demo.object.User">
        select
        <include refid="User_List"/>
        from Sys_User
        <where>
            username = #{username,jdbcType=VARCHAR}
        </where>
    </select>
</mapper>